.container {
    width:58%;
    background: #fff;
    padding: 50px;
    border-radius: 20px;


    .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    }

    .paginator {
        width: 180px;
        display: flex;
        justify-content: space-between;
    }

    .slide {
        
        width: 100%;

    }

    .slider {
        margin: 0 -10px;


    }
}

@media (max-width:746px){
    .container{
        width: 100%;
        padding-top: 40px;
        .heading{
            justify-content: end;
            margin-bottom: 30px;
        }

        .header{
            display: none;

        }
    }
}