.container {
    // order: 2;
    width:58%;
    background: #fff;
    padding: 50px;
    border-radius: 20px;


    .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    }

    .paginator {
        width: 180px;
        display: flex;
        justify-content: space-between;
    }

    .slide {
        
        width: 100%;

    }

    .slider {
        margin: 0 -10px;
        position: relative;

        .prevnext{
            cursor: pointer;
        }

        .next{
            position: absolute;
            bottom: 47%;
            right:-15px;
            transform: scaleX(-1);
            z-index: 2;
        }
        .prev{
            position: absolute;
            bottom: 47%;
            left:-15px;
            z-index: 2;

        }


    }
}

@media (max-width:1024px){
    .container{
        order: 3;
        width: 100%;
        padding: 0 10px;
        padding-bottom: 30px;
        background: transparent;
        .heading{
            display: none;
        }

        .header{
            display: none;

        }
    }
}