@mixin display {
    display: flex;
    flex-direction: column;
}

.donateCulture {
    @include display;
    justify-content: space-between;
    width: 25%;
}


.infoCulture {
    @include display;
    justify-content: space-evenly;
    height: 80%;
    width: 100%;

    & h1 {
        font-size: 35px;
    }

    & p {
        font-size: 26px;
    }
}

.headerCulture {
    @include display;
    justify-content: space-between;

    height: 40%;

    & h3 {
        line-height: 120%;
    }
}

.descriptionCulture {
    @include display;
    justify-content: space-evenly;

    height: 50%;

    & p {
        font-size: 16px;
    }
}


.locationCulture {
    @include display;
    justify-content: space-around;

    height: 20%;
    width: 100%;

    & p {
        font-size: 16px;
    }
}

.location {
    display: flex;
    justify-content: space-between;

    width: 240px;

    & img {
        width: 8%;
    }
}

.tarasShevchenkoPhone {
    opacity: 0;
    width: 0;
    height: 0;

    & img {
        width: 0;
        height: 0;
    }
}

.locationButton {
    width: 100%;
}


@media (max-width:1700px) {
    .donateCulture {
        width: 35%;
        justify-content: space-around;
    }

    .headerCulture {
        justify-content: space-evenly;
        height: 40%;

        & h3 {
            line-height: 120%;
            font-size: 26px;
        }

        & p {
            font-size: 24px;
        }
    }

}

@media (max-width:1400px) {
    .donateCulture {
        width: 40%;
    }
}

@media (max-width:1200px) {
    .donateCulture {
        align-items: center;
        width: 56%;
        height: 900px;
        border-radius: 0 20px 20px 0;
    }

    .headerCulture {
        justify-content: space-around;
        height: 35%;

        & h3 {
            font-size: 30px;
        }

        & p {
            font-size: 28px;
        }
    }

    .descriptionCulture {
        @include display;
        justify-content: space-evenly;
        height: 60%;

        & p {
            font-size: 20px;
        }
    }

    .locationCulture {
        height: 18%;
    }
}

@media (max-width:768px) {
    .donateCulture {
        align-items: center;
        justify-content: space-around;
        width: 55%;
        border-radius: 0 20px 20px 0;
        height: 784px;
    }

    .headerCulture {
        justify-content: space-around;
        height: 30%;

        & h3 {
            font-size: 24px;
        }

        & p {
            font-size: 24px;
        }
    }

    .descriptionCulture {
        @include display;
        justify-content: space-around;
        height: 55%;

        & p {
            font-size: 16px;
        }
    }

    .location {
        width: 210px;

        & p {
            font-size: 14px;
        }

    }

    .locationCulture {
        width: 100%;
        height: 18%;
    }
}

@media (max-width:680px) {
    .donateCulture {
        width: 100%;
        border-radius: 20px;
    }

    .infoCulture {
        width: 109%;
    }

    .headerCulture {
        width: 80%;
        margin: 0 0 0 24px;

        & p {
            font-size: 18px;
        }
    }

    .descriptionCulture {
        width: 94.5%;
        margin: 0 0 0 14px;
        height: 45%;

        & p {
            font-size: 14px;
            padding-top: 10px;
        }
    }

    .location {
        width: 180px;
    }

    .locationCulture {
        height: 17%;

        & p {
            font-size: 12px;
        }
    }

    .tarasShevchenkoPhone {
        display: flex;
        width: 100%;
        height: 50%;
        margin: 0 0px 0px 0;
        opacity: 1;

        & img {
            width: 50%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@media (max-width:600px) {
    .locationButton {
        width: 110%;
    }
}

@media (max-width:475px) {
    .locationButton {
        width: 135%;
    }
}

@media (max-width:450px) {
    .locationButton {
        width: 153%;
    }
}

@media (max-width: 400px) {
    .locationButton {
        width: 167%;
    }
}

@media (max-width: 375px) {
    .locationButton {
        width: 220%;
    }
}