@mixin display {
    display: flex;
    flex-direction: column;
}

.donateCulture {
    @include display;
    justify-content: space-between;
    width: 34%;
    height: 860px;
    margin-left: 0.8%;
}

.infoCulture {
    @include display;
    justify-content: space-evenly;
    height: 80%;
    width: 100%;

    & h2 {
        font-size: 36px;
        font-weight: 700;
    }

    & p {
        font-size: 26px;
    }
}

.headerCulture {
    @include display;
    justify-content: space-between;
    height: 35%;

    & h3 {
        font-size: 24px;
        font-weight: 600;
    }
}

.descriptionCulture {
    @include display;
    justify-content: space-between;
    height: 60%;

    & p {
        font-size: 22px;
        font-weight: 400;
    }
}


.locationCulture {
    @include display;
    justify-content: space-around;

    height: 20%;
    width: 100%;

    & p {
        font-size: 16px;
    }
}

.location {
    display: flex;
    justify-content: space-between;

    width: 240px;

    & img {
        width: 8%;
    }
}

.tabletShevchenko {
    opacity: 0;
    overflow: hidden;
    width: 0%;

    & img {
        width: 0%;
    }
}

.tarasShevchenkoPhone {
    opacity: 0;
    width: 0;
    height: 0;

    & img {
        width: 0;
        height: 0;
        opacity: 0;
    }
}

.locationButton {
    display: flex;
    width: 100%;
    justify-content: space-between;

    & p {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;
        font-size: 20px;
    }
}

@media (max-width:1800px) {
    .locationButton {
        & p {
            font-size: 16px;
        }
    }
}


@media (max-width:1700px) {
    .donateCulture {
        width: 36%;
        justify-content: space-around;
        margin-left: 0.9%;
    }

    .headerCulture {
        justify-content: space-evenly;
        height: 40%;

        & h3 {
            line-height: 120%;
            font-size: 26px;
        }

        & p {
            font-size: 24px;
        }
    }

}

@media (max-width:1570px) {
    .infoCulture {
        p {
            font-size: 20px;
        }
    }
}

@media (max-width:1400px) {
    .headerCulture {
        height: 30%;

        & h2 {
            font-size: 28px;
        }

        & h3 {
            font-size: 22px;
        }
    }

    .infoCulture {
        height: 90%;
    }

}

@media (max-width:1200px) {

    .tabletShevchenko {
        display: flex;
        flex-direction: column;
        opacity: 1;
        height: 100%;
        width: 45%;

        & img {
            width: 100%;
            height: 50%;
            object-fit: cover;
        }
    }

    .portretTablet1 {
        border-radius: 20px 0 0 0;
    }

    .portretTablet2 {
        border-radius: 0 0 0 20px;
    }

    .donateCulture {
        align-items: center;
        width: 55%;
        border-radius: 0 20px 20px 0;
        margin: 0;
    }

    .headerCulture {
        justify-content: space-around;
        height: 25%;

        & h3 {
            font-size: 30px;
        }

        & p {
            font-size: 28px;
        }
    }

    .descriptionCulture {
        @include display;
        justify-content: space-evenly;
        height: 75%;

        & p {
            font-size: 22px;
        }
    }

    .locationCulture {
        height: 18%;
    }

    .locationButton {
        justify-content: flex-start;
        width: 100%;

        & p {
            font-size: 16px;
            width: 35%;
        }
    }
}

@media (max-width:840px) {
    .locationButton {
        & p {
            width: 50%;
        }
    }

    .headerCulture {

        & h3 {
            font-size: 22px;
        }

        & p {
            font-size: 18px;
        }
    }
}

@media (max-width:768px) {
    .donateCulture {
        align-items: center;
        justify-content: space-around;
        width: 50%;
        border-radius: 0 20px 20px 0;
        height: 100%;
    }

    .tabletShevchenko {
        width: 50%;
    }

    .locationButton {
        width: 100%;
    }

    .headerCulture {
        justify-content: space-around;
        height: 35%;

        & h2 {
            width: 90%;
            font-size: 24px;
            line-height: 28px;
        }

        & h3 {
            font-size: 24px;
            font-weight: 500;
        }
    }

    .descriptionCulture {
        @include display;
        justify-content: space-around;
        height: 55%;

        & p {
            font-size: 16px;
        }
    }

    .location {
        width: 210px;

        & p {
            font-size: 14px;
        }
    }

    .locationButton {
        width: 120%;

        & p {
            font-size: 12px;
            width: 30%;
        }
    }

    .locationCulture {
        width: 100%;
        height: 18%;
    }
}

@media (max-width:680px) {
    .donateCulture {
        width: 101%;
        border-radius: 0px;
    }

    .infoCulture {
        width: 109%;
    }

    .headerCulture {
        width: 80%;
        margin: 0 0 0 24px;

        & p {
            font-size: 18px;
        }
    }

    .descriptionCulture {
        width: 94.5%;
        margin: 0 0 0 14px;
        height: 45%;

        & p {
            font-size: 14px;
            padding-top: 10px;
        }
    }

    .location {
        width: 180px;
    }

    .locationCulture {
        height: 17%;

        & p {
            font-size: 12px;
        }
    }

    .locationButton {
        width: 110%;
    }

    .tabletShevchenko {
        opacity: 1;
        width: 0;
        height: 0;
    }

    .tarasShevchenkoPhone {
        display: flex;
        width: 100%;
        height: 50%;
        margin: 0 0px 0px 0;
        opacity: 1;
        border-radius: 0;

        & img {
            width: 50%;
            height: 100%;
            object-fit: cover;
            opacity: 1;
            border-radius: 0;
        }
    }
}

@media (max-width: 400px) {
    .locationButton {
        & p {
            font-size: 12px;
            width: 45%;
        }
    }

    .headerCulture {
        h2 {
            width: 100%;
            font-size: 20px;
        }

        & h3 {
            font-size: 16px;
        }
    }
}