.menu__container {
  position: relative;
  top: 0;
  right: 0;
}

.menu {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 15px 17px 14px 15px;
  cursor: pointer;
  position: relative;
  z-index: 4;

  &:hover {
    .burger {
      scale: 1.1;

      span {
        &::after {
          bottom: 7px;
        }

        &::before {
          top: 7px;
        }
      }
    }
  }

  span {
    font-family: "Hind";
    font-style: normal;
    font-weight: 700;
    font-size: calc(14px + (18 - 14) * ((100vw - 344px) / (1920 - 344)));
    line-height: 100%;
    text-align: right;
    color: #101010;
    transition: all 0.2s ease-in-out;
  }

  .burger {
    width: 24px;
    height: 19px;
    display: block;

    span {
      position: relative;
      background-color: #000000;
      display: block;
      top: 50%;
      left: 50%;
      width: 24px;
      height: 3px;
      background: #000000;
      border-radius: 10px;
      transform: translate(-50%, -50%);
      transition: all 0.1s ease 0.2s;
      -webkit-transition: all 0.1s ease 0.2s;
      -moz-transition: all 0.1s ease 0.2s;
      -ms-transition: all 0.1s ease 0.2s;
      -o-transition: all 0.1s ease 0.2s;

      &::after,
      &::before {
        content: "";
        background-color: #000000;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        border-radius: 10px;
        transition: all 0.3s ease 0.2s;
        -webkit-transition: all 0.3s ease 0.2s;
        -moz-transition: all 0.3s ease 0.2s;
        -ms-transition: all 0.3s ease 0.2s;
        -o-transition: all 0.3s ease 0.2s;
      }

      &::before {
        top: 6px;
      }

      &::after {
        bottom: 6px;
      }
    }

    &.cross {
      span {
        height: 0px;
        width: 18px;

        &::after {
          bottom: -1.5px;
          transition: all 0.5s ease-in-out;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
        }

        &::before {
          top: -1.5px;
          transition: all 0.5s ease-in-out;
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
        }
      }
    }
  }
}

.nav__container {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;

  .leftHalf {
    width: 50%;
    background-color: #151515;
    transform: translateX(-100%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
  }

  .rightHalf {
    background-color: #151515;
    width: 50%;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
  }

  &.openMenu {
    opacity: 1;
    pointer-events: visible;

    .leftHalf {
      transform: translateX(0%);
    }

    nav {
      display: flex;
      flex-direction: column;
      align-items: start;
    }

    .rightHalf {
      transform: translateX(0%);
      position: relative;

      .landscape {
        position: absolute;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
      }
    }
  }

  .nav__icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .icons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    padding: 10px;

    &:hover {
      scale: 1.2;
      transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
    }
  }

  h3 {
    text-transform: capitalize;
    color: #c0c0c0;
  }
}

// .nav {
//   width: 506px;
//   display: none;
//   position: relative;
//   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
//   padding: 100px 80px;
//   background: #ffffff;
//   border: 4px solid #000000;
//   border-radius: 16px;

//   .burger {
//     width: 40px;
//     height: 40px;
//     display: block;
//     position: absolute;
//     right: -15px;
//     top: -15px;
//     background: #ffffff;
//     border: 0.5px solid #101010;
//     border-radius: 8px;
//     cursor: pointer;

//     span {
//       position: absolute;
//       top: 50%;
//       left: 50%;
//       width: 24px;
//       height: 3px;
//       background: #000000;

//       transform: translate(-50%, -50%);
//       border-radius: 10px;

//       &::after {
//         content: "";
//         position: absolute;
//         height: 3px;
//         width: 100%;
//         background: #000000;
//         bottom: 8px;
//         border-radius: 10px;
//       }
//       &::before {
//         content: "";
//         position: absolute;
//         height: 3px;
//         width: 100%;
//         background: #000000;
//         top: 8px;
//         border-radius: 10px;
//       }
//     }
//   }

//   ul {
//     display: flex;
//     flex-wrap: wrap;
//     transition: all 0.2s ease;
//     gap: 10px;

//     li {
//       display: flex;
//       gap: 16px;
//       width: 48%;
//       padding: 5px;
//       cursor: pointer;
//     }

//     li:hover {
//       background-color: $background-color;
//     }
//   }
// }

// .openMenu {
//   display: block;
//   position: absolute;
//   top: 45%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   .burger {
//     width: 40px;
//     height: 40px;
//     display: block;
//     position: absolute;
//     right: -15px;
//     top: -15px;
//     background: #ffffff;
//     border: 0.5px solid #101010;
//     border-radius: 8px;

//     span {
//       background: #ffffff;

//       &::after {
//         transform: rotate(45deg);
//         bottom: 0px;
//       }
//       &::before {
//         transform: rotate(-45deg);
//         top: 0px;
//       }
//     }
//   }
// }
@media (max-width: 500px) {
  .nav__container {
    .leftHalf {
      width: 100%;
    }

    .rightHalf {
      display: none;
    }
  }
}