.block {
  display: flex;
  flex-direction: column;
  width: 278px;
  // flex: 1;
  padding: 40px 30px;
  border-radius: 20px;
  background-color: #ffffff;
  overflow-y: scroll;
  overflow-x: hidden;
}

.pictureWrapper {
  min-width: 218px;
  min-height: 218px;
  width: 218px;
  height: 218px;
  margin-bottom: 23px;
  border-radius: 17px;
  overflow: hidden;
  background-color: #b4bec2;

  &.musician {
    border-radius: 100%;
  }
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  margin-bottom: 12px;

  &.band {
    margin-bottom: 7px;
  }
}

.subtitle {
  margin-bottom: 7px;
}

.paragraph {
  margin-bottom: 20px;
}

.socialLinks {
  display: flex;
  align-self: center;
  gap: 8px;
  margin-top: auto;

  & li {
    height: 36px;
    width: 36px;
    padding: 8px;
  }
}
