.block {
  display: flex;
  flex-direction: column;
  padding: 40px 1.5vw;
  border-radius: 20px;
  background-color: #ffffff;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.blockWrapper {
  position: relative;
  overflow-y: overlay;
  width: max-content;
  width: 15vw;
  border-radius: 20px;
}

.overlay {
  pointer-events: none;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}

.pictureWrapper {
  width: 100%;
  padding-top: 100%; 
  margin-bottom: 23px;
  border-radius: 17px;
  overflow: hidden;
  background-color: #b4bec2;
  position: relative;

  &.musician {
    border-radius: 100%;
  }
}

.picture { 
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.title {
  margin-bottom: 12px;
  font-size: 1.3vw;
  line-height: 1.2;

  &.band {
    margin-bottom: 7px;
  }
}

.subtitle {
  margin-bottom: 7px;
}

.paragraph {
  margin-bottom: 20px;
  font-size: 0.9vw;
}

.socialLinks {
  display: flex;
  align-self: center;
  gap: 8px;
  margin-top: auto;

  & li {
    height: 36px;
    width: 36px;
    padding: 8px;
  }
}
