.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  max-width: 460px;
  background-color: white;
  padding: 12px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.logo-img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  span {
    white-space: nowrap;
    font-size: 40px;
    font-size: calc(18px + (40 - 18) * ((100vw - 344px) / (1920 - 344)));
    font-weight: 400;
    font-family: Bebas Neue, serif;
  }
}

@media (max-width: 744px) {
  .header__logo {
    padding: 8px 12px;
    cursor: pointer;
    p {
      display: none;
    }

    span {
      // font-size: calc(17px + (24 - 17) * ((100vw - 344px) / (1920 - 344)));

    }
  }

}