.wrapperDonate {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 754px;
    height: 730px;
    margin-top: 80px;
}

@media (max-width:1280px) {
    .wrapperDonate {
        height: 720px;
    }
}

@media (max-width:968px) {
    .wrapperDonate {
        justify-content: center;
        height: 100%;
    }
}

@media (max-width:840px) {}

@media (max-width:768px) {
    .wrapperDonate {
        align-items: flex-end;
        justify-content: space-between;
        margin: 0 0px 0 0;
        height: 90%;
    }
}

@media (max-width:680px) {
    .wrapperDonate {
        height: 90%;
        margin: 0 0px 0 0;
    }
}

@media (max-width:374px) {
    .wrapperDonate {
        height: 95%;
    }
}