.wrapperDonate {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 754px;
    height: 700px;
}

@media (max-width:1280px) {
    .wrapperDonate {
        align-items: center;
        height: 820px;
        justify-content: space-around;

    }
}

@media (max-width:840px) {
    .wrapperDonate {
        align-items: flex-end;
        justify-content: center;
        height: 800px;
    }
}

@media (max-width:768px) {
    .wrapperDonate {
        align-items: flex-end;
        justify-content: space-evenly;
        margin: 0 210px 0 0;
        height: 750px;
    }
}

@media (max-width:680px) {
    .wrapperDonate {
        height: 700px;
        margin: 0 210px 0 0;
    }
}

@media (max-width:500px) {
    .wrapperDonate {
        height: 500px;
    }
}