.solutionDescription {
  max-width: 600px;
  >div{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1em;
  }

  //> * {
  //  overflow: hidden;
  //  text-overflow: ellipsis;
  //  white-space: normal;
  //  display: -webkit-box;
  //  -webkit-box-orient: vertical;
  //}

  //h5 {
  //  -webkit-line-clamp: 2;
  //}

  .description {
    position: relative;
    margin: 25px 0;
    //max-height: 207px;
    line-height: 23.4px;
    //-webkit-line-clamp: 9;
  }

  //.starBefore {
  //  margin-bottom: 39px;
  //}
}

@media screen and (max-width: 1023px) {
  .solutionDescription {
    display: flex;
    flex-direction: column;
    gap: 24px;

    //> * {
    //  margin: 0;
    //}

    .description {
      margin: 0;
      max-height: 345px;
      //-webkit-line-clamp: 15;
    }

    //.starBefore {
    //  margin-bottom: 0;
    //}
  }
}

@media screen and (max-width: 995px) {
  .solutionDescription {
    .starBefore {
      display: none
    }
  }
}

@media screen and (max-width: 688px) {
  .solutionDescription {
    h2, h5 {
      display: none;
    }
  }
}