.solutionBlock {
  max-width: 1400px;
  width: 100%;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: inherit;
  }

  .solutionContainer {
    display: flex;
    justify-content: space-between;
    border-radius: inherit;
    gap: 34px;
  }

  .maxW1279 {
    display: none;
    @media screen and (max-width: 1275px){
      display: flex;
    }
    @media screen and (max-width: 1275px) and (min-width: 1218px){
      margin-top: 80px
    }
    @media screen and (max-width: 1218px) and (min-width: 1178px){
      margin-top: 50px
    }
  }
}

.starBefore {
  padding-left: 70px;
  position: relative;
  img{
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    width: auto;
  }
}

.moreDetails {
  display: block;
  width: fit-content;
  color: #000;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: auto;
  margin-top: 25px;
  div{
    background: #A1C3D8;
    border-radius: 15px;
    padding: 10px;
    width: 250px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    span{
      display: inline-block;
      transform: rotate(45deg) translateY(-25%);
      font-family: Consolas, sans-serif;
      font-weight: bold;
      font-size: 50px;
      margin-left: 18px;
      line-height: 24px;
      height: 24px;
    }
  }
}

.minW1279 {
  @media screen and (max-width: 1275px){
    display: none;
  }
}

@import "SoulutionsSlider";
@import "SolutionsDescription";

@media screen and (max-width: 1023px) {
  .solutionBlock {
    .solutionContainer {
      margin-top: 16px;
    }

    h3 {
      background: #FFFFFF;
      text-align: center;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      margin-bottom: 40px;
      padding: 22px 0;
    }
  }
}

@media screen and (max-width: 832px) {
  .solutionBlock {
    padding-bottom: 0;
    .solutionContainer {
      margin: 16px 0 48px;
    }
  }
}

@media screen and (max-width: 688px) {
  .solutionBlock {
    .solutionContainer {
      flex-direction: column;

      h2, h5 {
        display: block;
      }

      h2 {
        line-height: 24px;
      }

      h5 {
        margin: 16px 0;
      }
    }
  }
}