.solutionSlider {
  //width: 448px;
  //height: 387px;
  width: 577px;
  border-radius: 13px;
  height: 478px;

  img {
    border-radius: 13px;
    object-fit: cover;
    height: 100%;
    cursor: pointer;
  }

  &__elem {
    height: 478px;
    //height: 387px;

  }

  @media screen and (min-width: 1614px){
    margin-bottom: 110px;
  }
}

.solutionSliderPagination {
  display: flex !important;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;

  li {
    height: 70px;
    width: 103px;
    //height: 70px;
    //width: 80px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.sliderSide {
  .starBefore {
    display: none;
  }

  h2, h5 {
    display: none;
  }
}

@media screen and (max-width: 1614px){
  .solutionSlider {
    width: 448px;
    height: 387px;

    &__elem {
      height: 387px;
    }
  }
  .solutionSliderPagination {
    li {
      height: 70px;
      width: 80px;
    }
  }
}

@media screen and (max-width: 1200px) and (min-width: 1023px){
  .solutionSlider {
    width: calc(448px - 60px);
    height: calc(387px - 60px);

    &__elem {
      height: calc(387px - 60px);
    }
  }
  .solutionSliderPagination {
    li {
      height: calc(70px - 10px);
      width: calc(80px - 10px);
    }
  }
}

@media screen and (max-width: 1023px) {
  .sliderSide {
    .solutionSlider {
      margin-bottom: 124px;
    }
  }
}

@media screen and (max-width: 995px) {
  .sliderSide {
    .starBefore {
      display: block;
    }
  }
}

@media screen and (max-width: 832px) {
  .solutionSlider {
    width: 320px;
    border-radius: inherit;
    height: 300px;

    &__elem {
      height: 300px;
    }
  }

  .solutionSliderPagination {
    li {
      width: 60px;
      height: 52px;
      img {

      }
    }
  }
}

@media screen and (max-width: 688px) {
  .sliderSide {
    .solutionSlider {
      margin-bottom: 104px;
    }

    .starBefore {
      display: none;
    }
  }

  .solutionSlider {
    margin: auto;
  }
}

@media screen and (max-width: 390px) {
  .solutionSlider {
    width: 100%;
  }
}