@import "../../styles/variables";

.placePhotos {
  width: 1107px;
  background: $background-color;
  padding: 20px;
  &__slider {
    border-radius: inherit;
    position: relative;
    height: 300px;
    img{
      height: 100%;
      object-fit: cover;
    }
    .arrow {
      position: absolute;
      cursor: pointer;
      color: white;
      width: 25%;
      top: 0;
      height: 100%;
      border-radius: inherit;
      &:hover {
        background: rgba(0, 0, 0, .5);
      }
      &:after {
        position: absolute;
        font-size: 50px;
        top: 50%;
        transform: translateY(-50%);
      }
      &__right {
        right: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        &:after {
          content: "‹";
          right: 1em;
          transform: rotate(180deg);
        }
      }
      &__left {
        left: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        &:after {
          content: "‹";
          left: 1em;
        }
      }
    }
  }
}

