.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90vw;
  height: 80vh;
  max-width: 1600px;
  max-height: 550px;
  padding: 0;
  z-index: 5;
  overflow: visible;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
  border: 2px solid #969696;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  :global(.p-large) {
    font-size: calc(13px + (24 - 13) * ((100vw - 375px) / (1920 - 375)));
    line-height: 1.4;
  }
  h3 {
    line-height: 24px;
    text-align: center;
  }

  .popup__content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .popupInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 19px;
    width: 60%;
    height: 100%;

    & ~ .popupText__container {
      width: 50%;
      height: 100%;
      padding: 50px;
      .popupText {
        height: 100%;
        overflow-y: scroll;
      }
    }
  }

  .popupAuthor {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .popupImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 17px 0 0 17px;
    -webkit-border-radius: 17px 0 0 17px;
    -moz-border-radius: 17px 0 0 17px;
    -ms-border-radius: 17px 0 0 17px;
    -o-border-radius: 17px 0 0 17px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &.fullImg {
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
    }
  }

  .cross {
    position: absolute;
    background-color: white;
    border: 1px solid #969696;
    top: -4%;
    right: -1%;
    width: 40px;
    height: 40px;
    z-index: 4;
    cursor: pointer;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;

    span {
      display: block;
      position: relative;
      top: 50%;
      left: 50%;
      width: 24px;
      height: 0px;
      background: #000000;
      border-radius: 10px;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);

      &::after {
        content: "";
        position: absolute;
        left: 0;
        height: 2px;
        width: 100%;
        background: #000000;
        bottom: -1px;
        border-radius: 10px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
      }

      &::before {
        content: "";
        position: absolute;
        left: 0;
        height: 2px;
        width: 100%;
        background: #000000;
        top: -1px;
        border-radius: 10px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
      }
    }
  }
}

@media (max-width: 640px) {
  .popup {
    padding: 20px 15px;
    .popup__content {
      flex-direction: column;
      gap: 8px;
    }

    .popupInfo {
      width: 100%;
      height: 50%;
      align-items: center;
      gap: 10px;


      & ~ .popupText__container {
        width: 100%;
        height: 50%;
        padding: 5px;
        .popupText {
          height: 100%;
          overflow-y: scroll;
          p {
          padding: 5px;
          font-size: 14px;
          line-height: 1.4;
        }
        }
      }

        
      
    }

    .popupImg {
      width: 100%;
      height: 100%;
      border-radius: 17px;
      -webkit-border-radius: 17px;
      -moz-border-radius: 17px;
      -ms-border-radius: 17px;
      -o-border-radius: 17px;
    }

    .popupAuthor {
      display: flex;
      gap: 5px;
    }
  }
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  background-color: rgba(10, 10, 10, 0.7);
}
