.bannerBackground {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  .landscapes {
    position: absolute;
    right: 0;
    height: 100%;
    width: 777px;

    .landscape {
      position: absolute;
      height: 100%;
      width: 100%;
      background-size: contain;
      background-position: right;
      background-repeat: no-repeat;
      transition: all 0.3s;
    }
  }

  .girl {
    position: absolute;
    right: 0;
    width: calc(933px + (1870 - 933) * ((100vw - 744px) / (1920 - 744)));
    max-width: 1645px;
    height: 100%;
    z-index: 1;
    transition: bacground-image 0.5s ease-out;

    .hover__girl {
      position: absolute;
      right: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: 70% bottom;
      background-repeat: no-repeat;
      transition: all 0.3s ease-in-out;
    }
  }

  //CLOUDS
  .clouds__container {}

  .clouds {
    opacity: 0.7;
    position: absolute;

    img {
      width: 100%;
    }
  }

  .cloudLittle {
    top: 48%;
    left: 35%;
    width: 8%;
    animation: cloudLittle 10s ease infinite;
    -webkit-animation: cloudLittle 10s ease infinite;
  }

  .cloudMiddle {
    top: 38%;
    left: 25%;
    width: 12%;
    animation: cloudMiddle 10s ease infinite;
    -webkit-animation: cloudMiddle 10s ease infinite;
  }

  .cloudLarge {
    top: 5%;
    left: 6%;
    width: 30%;
    animation: cloudLarge 10s ease infinite;
    -webkit-animation: cloudLarge 10s ease infinite;
  }

  @keyframes cloudLittle {
    0% {
      opacity: 0;
      transform: translateX(10vw);
      -webkit-transform: translateX(10vw);
      -moz-transform: translateX(10vw);
      -ms-transform: translateX(10vw);
      -o-transform: translateX(10vw);
    }

    1% {
      opacity: 0;
      transform: translateX(10vw);
      -webkit-transform: translateX(10vw);
      -moz-transform: translateX(10vw);
      -ms-transform: translateX(10vw);
      -o-transform: translateX(10vw);
    }

    30% {
      opacity: 0.7;
      transform: translateX(0vw);
      -webkit-transform: translateX(0vw);
      -moz-transform: translateX(0vw);
      -ms-transform: translateX(0vw);
      -o-transform: translateX(0vw);
    }

    45% {
      opacity: 0.7;
      transform: translateX(0vw);
      -webkit-transform: translateX(0vw);
      -moz-transform: translateX(0vw);
      -ms-transform: translateX(0vw);
      -o-transform: translateX(0vw);
    }

    70% {
      opacity: 0.7;
      transform: translateX(0vw);
      -webkit-transform: translateX(0vw);
      -moz-transform: translateX(0vw);
      -ms-transform: translateX(0vw);
      -o-transform: translateX(0vw);
    }

    100% {
      opacity: 0;
      transform: translateX(10vw);
      -webkit-transform: translateX(10vw);
      -moz-transform: translateX(10vw);
      -ms-transform: translateX(10vw);
      -o-transform: translateX(10vw);
    }
  }

  @keyframes cloudMiddle {
    0% {
      opacity: 0;
      transform: translateX(10vw);
      -webkit-transform: translateX(10vw);
      -moz-transform: translateX(10vw);
      -ms-transform: translateX(10vw);
      -o-transform: translateX(10vw);
    }

    10% {
      opacity: 0;
      transform: translateX(10vw);
      -webkit-transform: translateX(10vw);
      -moz-transform: translateX(10vw);
      -ms-transform: translateX(10vw);
      -o-transform: translateX(10vw);
    }

    30% {
      opacity: 0.7;
      transform: translateX(0vw);
      -webkit-transform: translateX(0vw);
      -moz-transform: translateX(0vw);
      -ms-transform: translateX(0vw);
      -o-transform: translateX(0vw);
    }

    45% {
      opacity: 0.7;
      transform: translateX(0vw);
      -webkit-transform: translateX(0vw);
      -moz-transform: translateX(0vw);
      -ms-transform: translateX(0vw);
      -o-transform: translateX(0vw);
    }

    80% {
      opacity: 0.7;
      transform: translateX(0vw);
      -webkit-transform: translateX(0vw);
      -moz-transform: translateX(0vw);
      -ms-transform: translateX(0vw);
      -o-transform: translateX(0vw);
    }

    100% {
      opacity: 0;
      transform: translateX(5vw);
      -webkit-transform: translateX(5vw);
      -moz-transform: translateX(5vw);
      -ms-transform: translateX(5vw);
      -o-transform: translateX(5vw);
    }
  }

  @keyframes cloudLarge {
    0% {
      opacity: 0;
      transform: translateX(5vw);
      -webkit-transform: translateX(5vw);
      -moz-transform: translateX(5vw);
      -ms-transform: translateX(5vw);
      -o-transform: translateX(5vw);
    }

    20% {
      opacity: 0;
      transform: translateX(5vw);
      -webkit-transform: translateX(5vw);
      -moz-transform: translateX(5vw);
      -ms-transform: translateX(5vw);
      -o-transform: translateX(5vw);
    }

    30% {
      opacity: 0.7;
      transform: translateX(0vw);
      -webkit-transform: translateX(0vw);
      -moz-transform: translateX(0vw);
      -ms-transform: translateX(0vw);
      -o-transform: translateX(0vw);
    }

    45% {
      opacity: 0.7;
      transform: translateX(0vw);
      -webkit-transform: translateX(0vw);
      -moz-transform: translateX(0vw);
      -ms-transform: translateX(0vw);
      -o-transform: translateX(0vw);
    }

    90% {
      opacity: 0.7;
      transform: translateX(0vw);
      -webkit-transform: translateX(0vw);
      -moz-transform: translateX(0vw);
      -ms-transform: translateX(0vw);
      -o-transform: translateX(0vw);
    }

    100% {
      opacity: 0;
      transform: translateX(5vw);
      -webkit-transform: translateX(5vw);
      -moz-transform: translateX(5vw);
      -ms-transform: translateX(5vw);
      -o-transform: translateX(5vw);
    }
  }

  //CLOUDS

  .icons {
    position: absolute;
    max-width: 50px;
    max-height: 63px;
    width: 15%;
    height: 15%;
    z-index: 4;
    margin-top: calc(-60px + (0 + 60) * ((100vw - 1664px) / (1920 - 1664)));
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: pulse 1s ease-in;
    -webkit-animation: pulse 1s ease-in;

    img {
      max-width: 100%;
      max-height: 100%;
      transition: all 0.2s ease-in-out;

      &:hover {
        scale: 1.2;
      }
    }
  }

  @keyframes pulse {
    0% {
      transform: scale(0);
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      opacity: 0;
    }

    40% {
      transform: scale(1.4);
      -webkit-transform: scale(1.4);
      -moz-transform: scale(1.4);
      -ms-transform: scale(1.4);
      -o-transform: scale(1.4);
    }

    100% {
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
    }
  }

  .art {
    top: 38%;
    left: 39.5%;
    scale: 0.9;
  }

  .film {
    top: 22%;
    left: 42%;
  }

  .brend {
    top: 15%;
    left: 52%;
  }

  .places {
    top: 25%;
    left: 61%;
  }

  .music {
    top: 40%;
    left: 62%;
  }
}

@media (max-width: 1664px) {
  .bannerBackground {
    .landscapes {
      right: auto;
      left: calc(462px + (950 - 462) * ((100vw - 744px) / (1664 - 744)));

      .landscape {
        background-position: left;
      }
    }

    .girl {
      right: auto;
      left: calc(0px + (50 - 0) * ((100vw - 744px) / (1664 - 744)));
    }

    .icons {
      margin-top: calc(20px + (-50 - 20) * ((100vw - 744px) / (1664 - 744)));
      max-width: 45px;
      max-height: 58px;
    }

    .brend {
      top: 13%;
    }

    .places {
      top: 24%;
    }
  }
}

@media (max-width: 1200px) {
  .bannerBackground {
    .icons {
      max-width: 35px;
      max-height: 45px;
    }

    .art {
      top: 38%;
      left: 39.5%;
      scale: 0.9;
    }

    .film {
      top: 22%;
      left: 42%;
    }

    .brend {
      top: 15%;
      left: 52%;
    }

    .places {
      top: 25%;
      left: 61%;
    }

    .music {
      top: 39%;
      left: 62%;
    }
  }
}

@media (max-width: 900px) {
  .bannerBackground {
    .icons {
      margin-top: calc(25px + (10 - 25) * ((100vw - 744px) / (900 - 744)));
      max-width: 3%;
      max-height: 41px;
    }

    .art {
      top: 37%;
      left: 39.5%;
      scale: 0.9;
    }

    .film {
      top: 22%;
      left: 42%;
    }

    .brend {
      top: 15%;
      left: 52%;
    }

    .places {
      top: 25%;
      left: 61%;
    }

    .music {
      top: 39%;
      left: 62%;
    }
  }
}

@media (max-width: 744px) {
  .bannerBackground {
    position: relative;
    min-height: calc(534px + (876 - 534) * ((100vw - 744px) / (1920 - 744)));
    transform: translateX(-5.5%);

    .landscapes {
      width: calc(692px + (900 - 692) * ((100vw - 375px) / (744 - 375)));
      left: 0;

      .landscape {
        background-size: cover;
      }
    }

    .girl {
      // width: 100%;
      left: 50%;
      transform: translateX(-50%);
    }

    .clouds__container {
      display: none;
    }
  }
}

@media (max-width: 680px) {
  .bannerBackground {
    .art {
      top: 35%;
    }

    .music {
      top: 37%;
    }
  }
}

@media (max-width: 580px) {
  .bannerBackground {
    .places {
      top: 24%;
    }

    .music {
      top: 36%;
    }
  }
}

@media (max-width: 480px) {
  .bannerBackground {
    .art {
      top: 34%;
    }
    .music {
      top: 35%;
    }
  }
}

@media (min-width: 1920px) {
  .bannerBackground {
    .icons {
      margin-top: 0;
    }
  }
}