.bannerBackground {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  .landscape {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
  }

  .girl {
    position: absolute;
    right: 0;
    width: 100%;
    max-width: 1645px;
    height: 100%;
    background-size: cover;
    background-position: 70% bottom;
    background-repeat: no-repeat;
    z-index: 1;
    transition: background-image 0.5s ease-out;
  }

  .clouds {
    position: absolute;

    img {
      width: 100%;
    }
  }

  .cloudLittle {
    top: 48%;
    left: 35%;
    width: 150px;
    height: 150px;
  }

  .cloudMiddle {
    top: 38%;
    left: 25%;
    width: 205px;
    height: 205px;
  }

  .cloudLarge {
    top: 5%;
    left: 6%;
    width: 500px;
    height: 500px;
  }

  .icons {
    position: absolute;
  }

  .art {
    top: 38%;
    left: 40%;
  }

  .film {
    top: 22%;
    left: 42%;
  }

  .brend {
    top: 15%;
    left: 52%;
  }

  .places {
    top: 26%;
    left: 60%;
  }

  .music {
    top: 40%;
    left: 61%;
  }
}
