.bannerBackground {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  .landscapes {
    position: absolute;
    right: 0;
    height: 100%;
    width: 777px;

    .landscape {
      position: absolute;
      height: 100%;
      width: 100%;
      background-size: contain;
      background-position: right;
      background-repeat: no-repeat;
      transition: all 0.3s;
    }
  }

  .girl {
    // background-color: red;
    position: absolute;
    right: 0;
    width: calc(933px + (1870 - 933) * ((100vw - 744px) / (1920 - 744)));
    max-width: 1645px;
    height: 100%;
    z-index: 1;
    transition: bacground-image 0.5s ease-out;

    .hover__girl {
      position: absolute;
      right: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: 70% bottom;
      background-repeat: no-repeat;
      transition: all 0.3s ease-in-out;
    }

    .girlMain {
    }

    .girlArt {
    }

    .girlFilm {
    }

    .girlBrend {
    }

    .girlPlaces {
    }

    .girlMusic {
    }
  }

  .clouds {
    // background-color: red;
    opacity: 0.7;
    position: absolute;

    img {
      width: 100%;
    }
  }

  .cloudLittle {
    top: 48%;
    left: 35%;
    width: 8%;
    // height: 8%;
  }

  .cloudMiddle {
    top: 38%;
    left: 25%;
    width: 12%;
  }

  .cloudLarge {
    top: 5%;
    left: 6%;
    width: 30%;
  }

  .icons {
    position: absolute;
    max-width: 50px;
    max-height: 63px;
    width: 15%;
    height: 15%;
    z-index: 4;
    margin-top: calc(-60px + (0 + 60) * ((100vw - 1664px) / (1920 - 1664)));
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      max-height: 100%;
      transition: all 0.2s ease-in-out;

      &:hover {
        scale: 1.2;
        // transition: all 1s ease-in-out;
        // -webkit-transition: all 1s ease-in-out;
        // -moz-transition: all 1s ease-in-out;
        // -ms-transition: all 1s ease-in-out;
        // -o-transition: all 1s ease-in-out;
      }
    }
  }

  .art {
    top: 38%;
    left: 39.5%;
    scale: 0.9;
  }

  .film {
    top: 22%;
    left: 42%;
  }

  .brend {
    top: 15%;
    left: 52%;
  }

  .places {
    top: 25%;
    left: 61%;
  }

  .music {
    top: 40%;
    left: 62%;
  }
}

@media (max-width: 1664px) {
  .bannerBackground {
    .landscapes {
      right: auto;
      left: calc(462px + (950 - 462) * ((100vw - 744px) / (1664 - 744)));

      .landscape {
        background-position: left;
      }
    }

    .girl {
      right: auto;
      left: calc(0px + (50 - 0) * ((100vw - 744px) / (1664 - 744)));
    }

    .icons {
      margin-top: calc(20px + (-50 - 20) * ((100vw - 744px) / (1664 - 744)));
      max-width: 45px;
      max-height: 58px;
      // width: 7%;
      // height: 7%;
    }

    .art {
      // max-width: 45px;
      // max-height: 58px;
    }

    .brend {
      top: 13%;
    }

    .places {
      top: 24%;
    }

    // .cloudLittle {
    //   top: 48%;
    //   left: 30%;
    // }

    // .cloudMiddle {
    //   top: 38%;
    //   left: 21%;
    // }

    // .cloudLarge {
    //   top: 5%;
    //   left: 0%;
    // }
  }
}

@media (max-width: 1200px) {
  .bannerBackground {
    .icons {
      max-width: 35px;
      max-height: 45px;
    }
    .art {
      top: 38%;
      left: 39.5%;
      scale: 0.9;
    }

    .film {
      top: 22%;
      left: 42%;
    }

    .brend {
      top: 15%;
      left: 52%;
    }

    .places {
      top: 25%;
      left: 61%;
    }

    .music {
      top: 39%;
      left: 62%;
    }
  }
}
@media (max-width: 900px) {
  .bannerBackground {
    .icons {
      margin-top: calc(25px + (10 - 25) * ((100vw - 744px) / (900 - 744)));
      max-width: 3%;
      max-height: 41px;
    }
    .art {
      top: 37%;
      left: 39.5%;
      scale: 0.9;
    }

    .film {
      top: 22%;
      left: 42%;
    }

    .brend {
      top: 15%;
      left: 52%;
    }

    .places {
      top: 25%;
      left: 61%;
    }

    .music {
      top: 39%;
      left: 62%;
    }
  }
}

@media (min-width: 1920px) {
  .bannerBackground {
    .icons {
      margin-top: 0;
    }
  }
}
