@import "variables";
@import url(https://fonts.googleapis.com/css?family=Hind:300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Outfit:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Bebas+Neue:regular);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: Hind, sans-serif;
}

ul,
ol {
  list-style-type: none;
}

button {
  border: none;
  text-decoration: none;
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background: $dark-background;
  padding: 10px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  font-style: normal;
  font-family: Hind, sans-serif;
  color: $dark-background;
}

h1 {
  font-size: calc(40px + (70 - 40) * ((100vw - 744px) / (1920 - 744)));
  line-height: 63.41px;
}

h2 {
  //font-size: 49px;
  //line-height: 59px;
  font-size: calc(40px + (49 - 40) * ((100vw - 744px) / (1920 - 744)));
}

h3 {
  font-size: calc(24px + (34 - 24) * ((100vw - 744px) / (1920 - 744)));
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: calc(16px + (20 - 16) * ((100vw - 744px) / (1920 - 744)));
}

p {
  font-family: Outfit, sans-serif;
  font-size: calc(14px + (16 - 14) * ((100vw - 744px) / (1920 - 744)));
  font-weight: 400;
}

// custom p classes

.p-large {
  font-size: calc(16px + (18 - 16) * ((100vw - 744px) / (1920 - 744)));
  font-weight: 500;
}

.p-18-hind{
  font-size: 18px;
  font-weight: 400;
  font-family: Hind, sans-serif;
}
// custom p classes

section {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.main-block {
  background-color: $background-color;
  background-image: url(../../public/assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  padding: calc(30px + (50 - 30) * ((100vw - 744px) / (1920 - 744)));
  overflow: hidden;
}

.app {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

// classes to hide and show elements
.hidden {
  display: none;
}

.visible {
  display: block;
}

.middle-slider-container{
    .active{
      width: 40px !important;
      border-radius: 50px !important;
      background-color: black !important;
    }
}


.solution-slider {
  li.slick-active {
    img {
      border: #015BBB 2px solid;
    }
  }
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #dfdfdf;
}


// Media queries
@media (max-width:746px) {
  h1 {
    line-height: 60px;
  }

  //h2 {
  //  font-size: 24px;
  //}

  p {
    font-size: 14px;
  }

  .p-large {
    font-size: 16px;
  }
}

//doesn't let font sizes grow in more than 1920px screen sizes
@media (min-width: 1920px) {
  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 49px;
  }

  h3 {
    font-size: 34px;
  }


  h5 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  .p-large {
    font-size: 18px;
  }
}
