@import "variables";
@import url(https://fonts.googleapis.com/css?family=Hind:300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Outfit:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Bebas+Neue:regular);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: Hind, sans-serif;
}

ul,
ol {
  list-style-type: none;
}

button {
  border: none;
  text-decoration: none;
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

body {
  background: $dark-background;
  padding: calc(2px + (10 - 2) * ((100vw - 375px) / (1920 - 375)));
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  font-style: normal;
  font-family: Hind, sans-serif;
  color: $dark-background;
}

h1 {
  font-size: calc(25px + (70 - 25) * ((100vw - 375px) / (1920 - 375)));
  line-height: calc(27px + (63.41 - 27) * ((100vw - 375px) / (1920 - 375)));
}

h2 {
  //font-size: 49px;
  //line-height: 59px;
  font-size: calc(24px + (49 - 24) * ((100vw - 375px) / (1920 - 375)));
}

h3 {
  font-size: calc(16px + (34 - 16) * ((100vw - 375px) / (1920 - 375)));
}

h4 {
  font-size: calc(17px + (24 - 17) * ((100vw - 375px) / (1920 - 375)));
}

h5 {
  font-size: calc(16px + (20 - 16) * ((100vw - 375px) / (1920 - 375)));
}

p,
span {
  font-family: Outfit, sans-serif;
  font-size: calc(14px + (16 - 14) * ((100vw - 375px) / (1920 - 375)));
  font-weight: 400;
}

// custom p classes

.p-large {
  font-size: calc(12px + (18 - 12) * ((100vw - 375px) / (1920 - 375)));
  font-weight: 500;
}

.p-18-hind {
  font-size: calc(14px + (18 - 14) * ((100vw - 375px) / (1920 - 375)));
  font-weight: 400;
  font-family: Hind, sans-serif;
}

// custom p classes

section {
  display: flex;
  justify-content: space-between;
  gap: calc(2px + (10 - 2) * ((100vw - 375px) / (1920 - 375)));
}

.main-block {
  background-color: $background-color;
  background-image: url(../../public/assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  padding: calc(32px + (50 - 32) * ((100vw - 375px) / (1920 - 375))) calc(16px + (50 - 16) * ((100vw - 375px) / (1920 - 375)));
  overflow: hidden;
}

.app {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  gap: calc(2px + (10 - 2) * ((100vw - 375px) / (1920 - 375)));
}

// classes to hide and show elements
.hidden {
  display: none;
}

.visible {
  display: block;
}

// classes to hide and show elements


.middle-slider-container {

  .active {
    width: 40px;
    border-radius: 50px;
    background-color: black;
  }

  .middle-slider {
    .slick-dots {
      bottom: -40px;
      // position: absolute;
      // top:-20px;
      // right: 20px;
    }

    .slick-dots > li {
      height: 10px;
      width: 10px;
      margin-left: 15px;
      background: white;
      border-radius: 50%;
      border: 1px solid black;
      cursor: pointer;
      transition: all 0.5s ease-in-out;

    }

    .slick-dots > li.slick-active {
      width: 40px !important;
      border-radius: 50px !important;
      background-color: black !important;
    }

    .slick-dots > li > button {
      font-size: 0;

    }

    .slick-dots li button:before {
      content: '';
    }

  }
}


.solution-slider {
  li.slick-active {
    img {
      border: #015BBB 2px solid;
    }
  }
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #dfdfdf;
}

// Media queries
@media (max-width: 746px) {
  h1 {
    // letter-spacing: 0.01px;
  }
}

//doesn't let font sizes grow in more than 1920px screen sizes
@media (min-width: 1920px) {
  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 49px;
  }

  h3 {
    font-size: 34px;
  }

  h5 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  .p-large {
    font-size: 18px;
  }

  .p-18-hind {
    font-size: 18px;
  }
}