$background-color: #E5E5E5;
$dark-background:#212628;

@mixin background-main-block {
  background-color: $background-color;
  background-image: url(../../public/assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}