.brandDescription {
  max-width: 600px;
  >*{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  .slogan{
    line-height: 22px;
    font-size: 22px;
    font-family: Hind, sans-serif;
  }

  .description {
    position: relative;
    margin-top: 40px;
    max-height: 207px;
    line-height: 23.4px;
  }

  .address{
    white-space: pre-line;
    font-family: 'Hind', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    text-align: justify;
    margin-top: 107px;
  }

  .links{
    display: flex;
    text-align: center;
    font-family: 'Hind', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    text-transform: uppercase;
    gap: 15px;
    margin-top: 55px;
  }
}


@media screen and (max-width: 1260px) {
  .brandDescription {
    .address{
      margin-top: calc(107px / 2);
    }
    .links{
      margin-top: calc(55px / 2);
    }
  }
}

@media screen and (max-width: 900px) {
  .brandDescription {
    display: flex;
    flex-direction: column;
    > * {
      margin: 0;
    }
    .description {
      margin: 0;
      max-height: 345px;
    }
  }
}

@media screen and (max-width: 700px){
  .brandDescription {
    .address{
      margin-top: calc((107px / 2) / 2);
    }
    .links{
      margin-top: calc((55px / 2) / 2);
    }
  }
}

@media screen and (max-width: 640px){
  .brandDescription {
    .slogan, h2 {
      display: none;
    }
  }
}