.wrapperDonateBoy {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 0;


    & img {
        width: 1480px;
        height: 1120px;
        margin: 0px 0px 245px 200px;
    }
}

@media (max-width:1280px) {
    .wrapperDonateBoy {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25%;
        height: 0;


        & img {
            width: 1280px;
            height: 920px;
            margin: 200px 0px 245px 200px;
        }
    }
}

@media (max-width:768px) {
    .wrapperDonateBoy {

        & img {
            width: 1280px;
            height: 920px;
            margin: 200px 0px 245px 535px;
        }
    }
}

@media (max-width:680px) {
    .wrapperDonateBoy {

        & img {
            width: 920px;
            height: 700px;
            margin: 320px 0px 245px 560px;
        }
    }
}

@media (max-width:560px) {
    .wrapperDonateBoy {

        & img {
            width: 920px;
            height: 700px;
            margin: 260px 0px 245px 550px;
        }
    }
}

@media (max-width:500px) {
    .wrapperDonateBoy {

        & img {
            width: 730px;
            height: 520px;
            margin: 260px 0px 245px 550px;
        }
    }
}