.placeInfoContainer {
  flex: 743;

  .placeInfo {
    display: flex;
    flex-direction: column;
    position: relative;
    //aspect-ratio: 743/769;

    .placeDescription{
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
    }

    .geo {
      display: block;
      margin: 30px 0;
      color: #015BBB;
      text-decoration: underline;
    }

    &__slider {
      //margin-top: 3.5vw;
      //max-width: 681px;
    }

    .slideElem {
      position: relative;
      //height: 283px;
      //width: 195px;
      padding: 0 15px;
      border-radius: 20px;
      >div{
        aspect-ratio: 195 / 283;
        max-width: 195px;
        height: 100%;
        //max-height: 283px;
        cursor: pointer;
        border-radius: inherit;
        margin: auto;
        //&:first-child{
        //  margin-right: auto;
        //  margin-left: 0;
        //}
        //&:last-child{
        //  margin-left: auto;
        //  margin-right: 0;
        //}
      }
      .placeName {
        position: absolute;
        bottom: 22px;
        //left: calc(21px + 15px);
        left: 0;
        color: #FFFFFF;
        font-family: Hind, sans-serif;
        font-weight: 700;
        font-size: 16px;
        z-index: 100;
        overflow: hidden;
        width: 100%;
        padding: 0 calc(15px + 21px);
      }
    }

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: inherit;
    }
  }
}

@media screen and (max-width: 1304px){
  .placeInfoContainer{
    background: none;
    padding-bottom: 0;
    .placeInfo{
      flex-direction: column-reverse;
      &__slider{
        //margin: auto;
      }

      .geo{
        margin-bottom: calc(32px - 20px);
      }
    }
  }
}
@media screen and (max-width: 770px){
  .placeInfoContainer{
    .placeInfo{
      &__slider{
        margin: initial;
      }
    }
  }
}