.placePhotos {
  aspect-ratio: 1174 / 769;
  padding: 20px;
  &__slider {
    border-radius: 30px;
    overflow: hidden;
    height: 100%;
    z-index: 1;
    div{
      height: 100%;
    }
  }
  .imgContainer{
    border-radius: 30px;
    height: 100%;
    img{

      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      aspect-ratio: inherit;
    }
  }
}

@media screen and (max-width: 1023px){
  .placePhotos{
    background: none;
    padding: 40px;
    aspect-ratio: 664 / 368;
  }
}
@media screen and (max-width: 500px){
  .placePhotos{
    background: none;
    padding: 14px 14px 62px;
    aspect-ratio: 343 / 292;
  }
}