.placeInfoContainer {
  aspect-ratio: 743/769;
  display: flex;
  flex-direction: column;

  .placeInfo {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;

    .placeDescription{
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
    }

    .geo {
      display: block;
      margin-top: 30px;
      color: #015BBB;
      text-decoration: underline;
    }

    &__slider {
      margin: auto -15px 0;
    }

    .slideElem {
      position: relative;
      padding: 15px;
      border-radius: 20px;

      .activeElem{
        border: #015BBB 2px solid;
      }

      >div{
        aspect-ratio: 195 / 283;
        position: relative;
        max-width: 195px;
        height: 100%;
        cursor: pointer;
        border-radius: inherit;
        margin: auto;
      }
      .placeName {
        position: absolute;
        bottom: 0;
        left: 0;
        color: #FFFFFF;
        font-family: Hind, sans-serif;
        font-weight: 700;
        font-size: 16px;
        z-index: 100;
        overflow: hidden;
        width: 100%;
        padding: 21px;
      }
    }

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: inherit;
    }
  }
}

@media screen and (max-width: 1285px){
  .placeInfoContainer{
    .placeInfo{
      &__slider {
        margin: auto -10px 0;
      }
      .slideElem{
        padding: 0 10px;
      }
    }
  }
}

@media screen and (max-width: 1285px) and (min-width: 1023px){
  .placeInfoContainer{
    .placeInfo{
      &__slider {
        margin: auto -5px 0;
      }
      .slideElem{
        padding: 0 5px;
      }
    }
  }
}

@media screen and (max-width: 1200px) and (min-width: 1023px){
  .placeInfoContainer{
    .placeInfo{
      .geo {
        margin: 0.5em 0;
      }
    }
  }
}

@media screen and (max-width: 1064px)  and (min-width: 1023px){
  .placeInfoContainer{
    h3{
      line-height: 1em;
    }
  }
}

@media screen and (max-width: 1023px){
  .placeInfoContainer{
    background: none;
    padding-bottom: 0;
    aspect-ratio: initial;
    .placeInfo{
      flex-direction: column-reverse;
      flex-grow: initial;
      &__slider{
        margin: initial;
      }

      .geo{
        margin-bottom: calc(32px - 20px);
      }
    }
  }
}
@media screen and (max-width: 770px){
  .placeInfoContainer{
    aspect-ratio: initial;
    .placeInfo{
      &__slider{
        margin: initial;
      }
    }
  }
}