.wrapperDonateHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
}

.donateHeader {
    font-size: 49px;
}

.donateSubheader {
    width: 485px;
    font-weight: 500;
    font-size: 24px;
}


@media (max-width:1280px) {
    .wrapperDonateHeader {
        align-items: center;
        text-align: center;
        height: 20%;
    }

    .donateHeader {
        font-size: 42px;
    }
}

@media (max-width:840px) {
    .wrapperDonateHeader {
        margin: 0 0px 0px -190px;
    }
}

// @media (max-width:768px) {
//     // .wrapperDonateHeader {
//     //     margin: 0px 0px 0px -190px;
//     // }
// }

// @media (max-width:740px) {
//     // .wrapperDonateHeader {
//     //     margin: 0 60px 0px 0px;
//     // }

// }

@media (max-width:600px) {

    .wrapperDonateHeader {
        width: 80%;
        height: 15%;
        margin: 0 155px 0 0px;

    }

    .donateHeader {
        font-size: 24px;
    }

    .donateSubheader {
        font-size: 14px;
    }
}

@media (max-width:500px) {
    .wrapperDonateHeader {
        width: 70%;
        margin: 0px 170px 0px 0px;

        & h2 {
            width: 70%;
        }
    }
}

@media (max-width:460px) {
    .wrapperDonateHeader {
        margin: 0px 160px 0px 0px;
    }

    .donateSubheader {
        margin-top: 15px;
    }
}

@media (max-width:390px) {
    .wrapperDonateHeader {
        margin: 0px 150px 0px 0px;
    }
}

@media (max-width:374px) {
    .wrapperDonateHeader {
        width: 60%;
        margin: 0px 173px 0px 0px;
    }
}