.wrapperDonateHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 28%;
}

.donateHeader {
    font-size: 49px;
}

.donateSubheader {
    width: 485px;
    font-weight: 500;
    font-size: 24px;
}


@media (max-width:1280px) {
    .wrapperDonateHeader {
        align-items: center;
        text-align: center;
        height: 20%;
    }

    .donateHeader {
        font-size: 42px;
    }
}

@media (max-width:840px) {
    .wrapperDonateHeader {
        width: 100%;
        margin: 0 100px 82px 100px;
    }
}

@media (max-width:768px) {
    .wrapperDonateHeader {
        width: 65%;
        margin: 0 100px 40px 100px;
    }

    .donateHeader {
        width: 550px;
    }
}

@media (max-width:640px) {
    .wrapperDonateHeader {
        margin: 30px 90px 40px 100px;
    }

    .donateHeader {
        font-size: 36px;
    }
}

@media (max-width:600px) {

    .wrapperDonateHeader {
        margin: 30px 70px 40px 100px;
    }

    .donateHeader {
        font-size: 24px;
        width: 450px;
    }

    .donateSubheader {
        font-size: 14px;
        width: 300px;
    }
}

@media (max-width:500px) {
    .wrapperDonateHeader {
        margin: 30px 46px 40px 60px;
    }
}

@media (max-width:460px) {
    .wrapperDonateHeader {
        margin: 30px 46px 20px 60px;
    }

    .donateSubheader {
        margin-top: 15px;
    }
}

@media (max-width:390px) {
    .wrapperDonateHeader {
        margin: 0px 38px 0px 60px;
    }
}

@media (max-width:374px) {
    .wrapperDonateHeader {
        margin: 0px 43px 0px 60px;
    }
}