.donateSectionSecond {
    display: flex;
    min-height: 784px;
}

@media (max-width:1200px) {
    .donateSectionSecond {
        flex-direction: row-reverse;
        height: 900px;
    }
}

@media (max-width:768px) {
    .donateSectionSecond {
        flex-direction: row-reverse;
        height: 784px;
    }
}

@media (max-width: 680px) {}