.donateSection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 810px;
    padding: 0;
}

@media (max-width:680px) {
    .donateSection {
        min-height: 535px;
    }
}


@media (max-width:500px) {
    .donateSection {
        height: 560px;
    }
}