.wrapperDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.wrapperList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 42%;
}

.supportList {
    display: grid;
    grid-template-columns: auto auto;
    gap: 25px;
    width: 100%;
}

.listItem {
    display: flex;
    width: 102%;

    i {
        display: flex;
        align-items: center;
    }

    & img {
        width: 50px;
        height: 50px;
    }

    & p {
        font-size: 18px;
        margin: 0 0 0px 20px;
    }

}

.wrapperRestoration {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 26%;
}

.wrapperHeaderDetails {
    display: flex;
    justify-content: flex-start;
    width: 80%;
}

.restoretion {
    font-size: 20px;
    font-weight: 500;
}

@media (max-width:1280px) {

    .wrapperDetails {
        align-items: flex-start;
    }

    .wrapperList {
        align-items: center;
    }

    .supportList {
        gap: 20px;
        width: 80%;
    }

    .wrapperRestoration {
        display: flex;
        align-items: flex-start;
        margin: 0 0 0 80px;
        height: 22%;
    }
}

@media (max-width:968px) {
    .wrapperDetails {
        display: flex;
        justify-content: space-around;
        height: 80%;
        margin: 0 80px 30px 40px;
    }

    .headerDetails {
        margin: 0 50px 0 0;
        width: 100%;
    }

    .wrapperHeaderDetails {
        width: 65%;
    }

    .wrapperRestoration {
        margin: 100px 0 0 80px;
        justify-content: space-evenly;
    }

    .supportList {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 65%;
    }
}

@media (max-width:840px) {
    .wrapperDetails {
        align-items: flex-start;
        height: 70%;
        margin: 0 0px 30px 60px;
    }

    .wrapperHeaderDetails {
        margin: 0 0 0 100px;
    }

    .wrapperList {
        align-items: unset;
        height: 65%;
    }

    .supportList {
        width: 80%;
        margin: 0 0 0 100px;
    }

    .wrapperRestoration {
        margin: 0 0 0 100px;
        justify-content: space-around;
    }
}

@media (max-width:768px) {
    .wrapperDetails {
        margin: 0 0px 0px 20px;
        height: 75%;
    }

    .wrapperRestoration {
        width: 380px;
    }

    .listItem {
        width: 85%;
    }
}

@media (max-width:680px) {
    .wrapperDetails {
        margin: 0 -130px 0px 20px;

        & p {
            font-size: 16px;
            margin: 0 0 0 10px;
        }
    }

    .headerButton {
        font-size: 16px;
        width: 70%;
    }

    .wrapperList {
        height: 60%;
    }

    .listItem {
        width: 70%;
    }
}

@media (max-width:600px) {
    .wrapperDetails {
        margin: 0 -120px 0px 110px;
        height: 75%;
        justify-content: space-between;

        & p {
            font-size: 14px;
        }
    }

    .wrapperList {
        height: 74%;
        justify-content: space-evenly;
    }

    .supportList {
        gap: 10px;
    }

    .listItem {
        width: 50%;
    }
}

@media (max-width:500px) {
    .wrapperDetails {
        margin: 50px 0px 0 90px;

        & p {
            font-size: 10px;
        }
    }

    .headerButton {
        font-size: 10px;
    }

    .listItem {
        width: 55%;
        margin: 0;

        & img {
            width: 40px;
            height: 40px;
        }
    }
}

@media (max-width:374px) {
    .wrapperDetails {
        margin: 40px 0px 0 105px;
    }

    .listItem {
        width: 50%;
        margin: 0;

        & img {
            width: 30px;
            height: 30px;
        }
    }
}