.wrapperButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.buttonDonate {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 48px;
    background: #101010;
    border-radius: 14px;
    color: white;
    margin: 10px;
    transition: 0.4s all;

    & img {
        width: 30%;
    }

    & p {
        font-size: 18px;
    }
}

.buttonDonate:hover {
    background: #ffffff;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 8px rgb(0, 0, 0);
    transition: 0.4s all;
}

.buttonDonate:hover .heartFlag {
    animation: pulse 2s ease infinite;

    @keyframes pulse {
        0% {
            transform: scale(1);
        }

        10% {
            transform: scale(1.1);
        }

        20% {
            transform: scale(1);
        }

        30% {
            transform: scale(1.2);
        }

        100% {
            transform: scale(1);
        }
    }
}


.buttonInfo {
    font-size: 16px;
    margin: 10px;
}

@media (max-width:1280px) {
    .wrapperButton {
        width: 320px;
        height: 70px;
        margin: 0 40px 0 0;
    }

    .buttonDonate {
        width: 250px;
    }
}

@media (max-width:768px) {
    .wrapperButton {
        margin: 0 0 0 0;
    }

    .buttonDonate .heartFlag {
        animation: pulse 2s ease infinite;
    }
}

@media (max-width:680px) {
    .wrapperButton {
        width: 65%;
        margin: 0 100px 0 0;
    }

    .buttonDonate {
        width: 40%;
        height: 60px;
        margin: 15px;
        justify-content: center;

        & img {
            width: 20%;
            margin: 5px;
        }

        & p {
            font-weight: 500;
            font-size: 24px;
            margin: 5px;
        }
    }
}

@media (max-width:600px) {
    .wrapperButton {
        height: 50px;
        margin: 0 75px 0 0;
    }

    .buttonDonate {
        height: 40px;
    }
}

@media (max-width:560px) {
    .wrapperButton {
        margin: 0 65px 0 0;
    }

    .buttonInfo {
        font-size: 14px;
    }

    .buttonDonate {
        width: 40%;
        border-radius: 8px;

        & img {
            width: 20%;
        }

        & p,
        span {
            font-size: 16px;
        }
    }
}

@media (max-width:500px) {
    .wrapperButton {
        width: 74%;
        height: 50px;
        margin: 0 25px 0 0;
    }

    .buttonDonate {
        height: 40px;

        & p,
        & span {
            font-size: 14px;
        }
    }
}

@media (max-width:450px) {
    .wrapperButton {
        width: 65%;
        height: 50px;
        margin: 0 45px 0 0;
    }

    .buttonDonate {
        width: 60%;
        margin: 10px;
        height: 40px;
        border-radius: 8px;

        & img {
            width: 20%;
        }
    }

    .buttonInfo {
        font-size: 12px;
    }

}

@media (max-width:400px) {
    .wrapperButton {
        width: 60%;
        margin: 0 55px 0 0;
    }
}

@media (max-width:374px) {
    .wrapperButton {
        width: 45%;
        margin: 0 105px 0 0;
    }
}