.banner {
  min-height: 876px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__header {
    display: flex;
    justify-content: space-between;
    z-index: 5;
  }
}